@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap');

.footer{
    
    margin-top: 200px;
    width: 100%;
    padding: 20px 30%;
    display: inline-block;
    border-top: 2px solid black;
}

.footer h3 , h5{
    color: whitesmoke;
    padding: 1%;
}

.footer {
    text-align: center;
}

.img-profile{ 
    display: grid;
    justify-content: center;
    clip-path: circle();
    margin-top: 1%;

    
}

.aboutme {
    display: grid;
    justify-content: center;
    margin-top: 3%;
    font-size: 20px;
    color: whitesmoke;
    text-align: center;
}
.intro {
    display: grid;
    justify-content: center;
    margin-top: 3%;
    font-size: 20px;
    color: whitesmoke;
    text-align: center;
    padding:0 10%;
    line-height: 50px;

}

#flex-container {
    display: flex;
    flex-direction:row;
    justify-content: space-around;
    margin-top: 50px;
    margin: 0 50px;
    padding: 0 100px;
   
   
}

.flex-item {
    font-size: 20px;
	color: whitesmoke;
	text-align: center;
    border: 3px solid black;
    margin-top: 50px;
    cursor: pointer;

}

.flex-img {
    flex-basis: 100%;
	height: 100px;
    margin: 4px;
}

#row-container{
    display: flex;
    flex-direction:column;
    margin-top: 50px;
    margin: 0 50px;
    padding: 0 100px;
    align-items: center;
}




/* .foto{
    margin-top: 20px;
    border-radius: 50%;
    max-width: 250px;
    height: 250px;
    
}


.content-left{
    width: 50%;
}
section h4 {
    font-size: 32px;
    color: whitesmoke;
    font-weight:700;

    position: absolute;
    width: 292px;
    height: 39px;
    left: 126px;
    top: 482px;
}

section p{
    position: absolute;
    width: 462px;
    height: 76px;
    left: 126px;
    top: 532px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    text-align: justify;
    color: whitesmoke; }*/


  