@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap');

.footer{
    
    margin-top: 100px;
    width: 100%;
    padding: 20px 30%;
    border-top: 2px solid black;
   
    display: inline-block;
}

.footer-item {
    color: whitesmoke;
    padding: 1%;
}

.footer {
    text-align: center;
}
.skills{ 
    display: grid;
    justify-content: center;
    
}
.skills h1 {
  
    font-size: 40px;
    color: whitesmoke;
    text-align: center;
    
}

.skills h2{
    font-size: 20px;
    color: whitesmoke;
    text-align: center;
}



.title {
    display: flex;
    justify-content: center;
    font-size: 40px;
    color: whitesmoke;
    padding: 5%;
    
    text-align: center;
  
    font-weight: 700;
    
   
  

}

#flex-container {
    display: flex;
    flex-direction:row;
    justify-content: space-around;
    margin-top: 50px;
    margin: 0 50px;
    padding: 0 100px;
   
   
}

.flex-item {
    font-size: 20px;
	color: whitesmoke;
	text-align: center;
    border: 3px solid black;
    margin-top: 50px;

}

.flex-img {
    flex-basis: 100%;
	height: 100px;
    margin: 4px;
}

#row-container{
    display: flex;
    flex-direction:column;
    margin-top: 50px;
    margin: 0 50px;
    padding: 0 100px;
    align-items: center;
}

.row-item {
    font-size: 20px;
	color: whitesmoke;
	text-align: center;
    padding: 50px;
    margin-top: 50px;
    border: 5px solid black;
    
    background-color: #5eb1b5;
}

.row-item h2, h3, p{
    background-color: #5eb1b5;
}

.sicovid {
    background-color: #5eb1b5;
    text-decoration: underline;
    color: blue;
}
